# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- list Data science languages
- list Data science libraries
- Open source tools used in data science
- a few examples in Python

Some of the popular languages that Data Scientists use are:
- Python
- SQL
- R
- Java
- Scala
- C++
- Julia

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Lattice
4. Tensor Flow
5. Seaborn
6. Matplotlib

|Data Science Tools|
|------------------|
|Python            |
|Apache Hadoop     |
|Jupyter Notebook  |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers
result = (3*4)+5
result

17

In [3]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes / 60
hours

3.3333333333333335

## Author
Yulia-stalker